<h1>Welcome to SoftUni Wiki!</h1>
<section>
    <h2>Search results for: "{{criteria}}"</h2>
    <div class="spacer">
        <ul>
            {{#each articles}}
                <li>
                    <a href="/article/details/{{_id}}">{{title}}</a>
                </li>
            {{/each}}
        </ul>
    </div>
</section>