<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active">Give the selected book to user</h2>

            <form method="post" class="form">
                <input type="text" class="fadeIn second" name="username" placeholder="Username">
                <input type="number" class="fadeIn second" name="class" placeholder="Class">
                <input type="text" class="fadeIn second" name="numberInClass" placeholder="Number in class">
                <input type="date" class="fadeIn third" name="returnDate" placeholder="Return date">
                <input type="submit" class="fadeIn fourth" value="Give book">
            </form>
        </div>
    </div>
</section>

