<section>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <h2 class="active">User return his book</h2>

            <form method="post" class="form">
                <input type="text" class="fadeIn second" name="username" placeholder="Username">
                <input type="number" class="fadeIn second" name="class" placeholder="Class">
                <input type="text" class="fadeIn second" name="numberInClass" placeholder="Number in class">
                <input type="submit" class="fadeIn fourth" value="Return book">
            </form>
        </div>
    </div>
</section>