<div class="wrapper fadeInDown">
    <div id="formContent">
        <h2 class="active">Notify user</h2>

        <form method="post" class="form">
            <input type="text" class="fadeIn second" name="class" placeholder="Class">
            <input type="text" class="fadeIn second" name="numberInClass" value="{{author}}" placeholder="Number in class">
            <textarea class="fadeIn third" name="message" placeholder="Message"></textarea>
            <input type="submit" class="fadeIn fourth" value="Send">
        </form>
    </div>
</div>