nav > ul,
nav > ul li,
nav > ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav > ul {
    position: relative;
    z-index: 597;
    display: flex;
}
nav > ul li {
    min-height: 1px;
    line-height: 1.3em;
    vertical-align: middle;

}
nav > ul li.hover,
nav > ul li:hover {
    position: relative;
    z-index: 599;
    cursor: default;
}
nav > ul ul {
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 100%;
}
nav > ul ul li {
    float: none;
    text-align: left;
    background: #7a7a7a;
}

nav > ul li:hover > ul {
    visibility: visible;
}

/* Theme Styles */
nav > ul {
    border-top: 4px solid #3fa338;
    font-family: Calibri, Tahoma, Arial, sans-serif;
    font-size: 14px;
    background: #1e1e1e;
    width: auto;
    zoom: 1;
}

nav#main-menu{
    background: linear-gradient(top, #1e1e1e 0%, #040404 100%);
}


nav > ul:before {
    content: '';
    display: block;
}
nav > ul:after {
    content: '';
    display: table;
    clear: both;
}
nav > ul li a {
    display: inline-block;
    padding: 0 22px;
    margin: 10px 0;
}
nav > ul > li.active,
nav > ul > li.active:hover {
    background-color: #3fa338;
}
nav > ul > li > a:link,
nav > ul > li > a:active,
nav > ul > li > a:visited {
    color: #ffffff;
}
nav > ul > li > a:hover {
    color: #ffffff;
}
nav > ul ul ul {
    top: 0;
}
nav > ul li li {
    background-color: #3fa338;
    border-bottom: 1px solid #ebebeb;
    font-size: 12px;
    font-weight: bold;
}
nav > ul li.hover,
nav > ul li:hover {
    background-color: #F5F5F5;
}
nav > ul > li.hover,
nav > ul > li:hover {
    background-color: #3fa338;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.15);
}
nav > ul a:link,
nav > ul a:visited {
    color: #ffffff;
    text-decoration: none;
}
nav > ul li:hover a {
    color: #010101;
}
nav > ul a:active {
    color: #ffffff;
}
nav > ul ul {
    border: 1px solid #CCC \9;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.15);
    width: 150px;
}

.align-left{
    float: left;
}

.align-right{
    float: right;
}

#main-menu li > span{
    padding: 10px;
    font-weight: bold;
    color: white;
    display:inline-block;
}