* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #5d89a1;
}

a:hover {
    color: black;
}

body {
    text-align: center;
}

body > div {
    text-align: left;
    display: inline-block;
    clear: both;
}

aside {
    width: 200px;
    float: left;
    padding: 20px;
}

.center {
    text-align: center;
}

.logo {
    width: 128px;
    height: 128px;
}

#container {
    float: left;
    width: 800px;
    border-left: 1px solid #5d89a1;
    border-right: 1px solid #5d89a1;
}

nav > a {
    display: block;
    margin: 10px 0px;
}

header {
    text-align: right;
}

header a {
    margin: 0px 10px;
}

main {
    padding: 20px;
    float: left;
    width: 100%;
}

h1 {
    padding: 20px;
    background-color: #5d89a1;
    color: white;
}

h2 {
    padding: 10px 20px;
    background-color: #b6cedb;
}

h3 {
    margin-bottom: 10px;
}

section {
    padding: 20px 10px;
}

#featured, #recent {
    float: left;
    width: 50%;
}

article {
    padding: 20px;
}

.controls {
    float: right;
    display: inline-block;
    margin: 10px 0px;
}

.controls a{
    margin-right: 10px;
}

ul {
    padding: 10px;
    list-style-type: none;
}

ul>li {
    margin: 10px 0px;
}

section::after {
    clear: both;
}

input {
    display: block;
    margin: 10px 0px;
    padding: 5px;
}

.title {
    width: 100%;
}

input[type=submit] {
    padding: 5px 10px;
}

label {
    display: block;
    margin-top: 20px;
}

textarea {
    resize: vertical;
    width: 100%;
    min-height: 300px;
}

.spacer {
    padding: 20px;
}

h2 a {
    float: right;
    font-size: 0.75em;
}

article>p {
    margin-bottom: 20px;
}

.author {
    font-weight: bold;
}

footer {
    clear: both;
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #5d89a1;
    color: white;
}

/*Forms css*/

#login-form{
    background-color: #56baed;;
}
#login-form a {
    color: #92badd;
    display:inline-block;
    text-decoration: none;
    font-weight: 400;
}

#login-form h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
}

#formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

#login-form h2.inactive {
    color: #cccccc;
}

#login-form h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #5fbae9;
}

.form input[type=button], .form input[type=submit], .form input[type=reset]  {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
}

.from input[type=button]:hover, .form input[type=submit]:hover, .form input[type=reset]:hover  {
    background-color: #39ace7;
}

.form input[type=button]:active, .form input[type=submit]:active, .form input[type=reset]:active  {
    transform: scale(0.95);
}

.form input[type=text],textarea, .form select, .form input[type=password], .form input[type=number] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    transition: all 0.5s ease-in-out;
    border-radius: 5px 5px 5px 5px;
}

.form input[type=text]:focus,.form textarea:focus, select:focus,
.form input[type=password]:focus, .form input[type=number]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
}

.form input[type=text]::placeholder, .form input[type=password]::placeholder, .form input[type=number]::placeholder
,.form textarea::placeholder, .form select::placeholder{
    color: rgba(43, 39, 40, 0.96);
}

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
    opacity:0;
    animation:fadeIn ease-in 1;
    animation-fill-mode:forwards;
    animation-duration:1s;
}

.fadeIn.first {
    animation-delay: 0.4s;
}

.fadeIn.second {
    animation-delay: 0.6s;
}

.fadeIn.third {
    animation-delay: 0.8s;
}

.fadeIn.fourth {
    animation-delay: 1s;
}
/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after{
    width: 100%;
}

#login-form *:focus {
    outline: none;
}

#icon {
    width:60%;
}

#login-form * {
    box-sizing: border-box;
}
/*End form css*/

/*Input type file css*/
input[type=file]{
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -10;
}

input[type = file] + label{
    color: white;
    background-color: #3BACE7;
    display: inline-block;
    padding: 15px 40px;
    margin: 5px 0;
    width: 57%;
    border-radius: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

input[type = file]:focus + label,
input[type = file] + label:hover {
    background-color: red;
}

/*Taken books table css*/
#taken-books{
    margin-top: 20px;
}

#taken-books th{
    background: #5bf2ff;
    padding: 10px;
    text-transform: uppercase;
}

#taken-books table{
    margin: 0 auto;
    color: black;
    font-weight: bold;
}

#taken-books *{
    border: 1px solid black;
}

#taken-books td{
    padding: 5px;
    text-transform: uppercase;
}

#taken-books tr:nth-child(even){
    background: lightgray;
}

#taken-books tr:nth-child(odd){
    background: #d3cf85;
}

/*Botton css*/
.button{
    background-color: greenyellow;
    padding: 10px 20px;
    border: none;
    color: black;
    font-size: 15px;
}

.button:hover{
    background-color: lightgray;
    border: 1px solid black;
}

div#errorBox{
    color: red;
    text-align: center;
    padding-top: 20px;
}