<h1>Welcome our book library!</h1>
<section>
    <h2>Register</h2>
    <div class="spacer">
        <form method="post" action="/users/register">
            <label>First name:</label>
            <input type="text" name="firstName">
            <label>Last name:</label>
            <input type="text" name="lastName">
            <label>Username:</label>
            <input type="text" name="username">
            <label>Class:</label>
            <input type="number" name="class">
            <label>Number in class:</label>
            <input type="number" name="numberInClass">
            <label>Password:</label>
            <input type="password" name="password">
            <label>Repeat password:</label>
            <input type="password" name="repeatPassword">
            <input type="submit" value="Register">
        </form>
    </div>
</section>