<div class="wrapper fadeInDown" id="register-form">
    <div id="formContent">
        <h2 class="active">Register</h2>

        <div class="fadeIn first">
            <img src="/img/userIcon.png" id="icon" alt="User Icon" />
        </div>

        <form method="post" class="form">
            <input type="text" class="fadeIn second" name="firstName" placeholder="First name">
            <input type="text" class="fadeIn second" name="lastName" placeholder="Last name">
            <input type="text" class="fadeIn second" name="username" placeholder="Username">
            <input type="number" class="fadeIn third" name="class" placeholder="Class">
            <input type="number" class="fadeIn third" name="numberInClass" placeholder="Number in class">
            <input type="password" class="fadeIn third" name="password" placeholder="Password">
            <input type="password" class="fadeIn third" name="repeatPassword" placeholder="Confirm Password">
            <input type="submit" class="fadeIn fourth" value="Register">
        </form>
    </div>
</div>