<section id="user-takenBooks">
    <h2>Taken books</h2>
    <div class="spacer">
        {{#each books}}
            <article>
                <img src="{{image}}" alt="">
                <div class="book-info">
                    <h3>Author: {{author}}</h3>
                    <h3>Genre: {{genre}}</h3>
                    <h3>Publisher: {{publisher}}</h3>
                </div>
            </article>
        {{/each}}
    </div>
</section>